body {
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 10px;
}
.container {
   max-width: 1143px;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   margin: 0 auto;
  
}
.header-logo-img {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 9.7rem;
    height: 3rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.header-logo {
    flex-basis: 20%;
}
.header nav {
    flex-basis: 125%;
}
.header-ul {
    display: flex;
    list-style-type: none;
    gap: 5.5rem;
}
.header-ul a:hover{
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid;
}
.social {
    display: flex;
    gap: 3.2rem;
    justify-content: space-between;


}
.social-in {
    display: block;
    background-image: url(../images/icons/IN.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social-in:hover {
    transform: scale(1.2);
    opacity: 1;
}
.social-fb {
    display: block;
    background-image: url(../images/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: 0.3s;
    opacity: 0.8;
}
.social-fb:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header-ul a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
}
.text { 
   max-width: 67.6rem;
   margin-top: 24.4rem;
}
.title {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 5.3rem;
    letter-spacing: 1px;
}
.subtitle {
    display: inline-block;
    font-size: 4rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}
.desc {
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 29.7rem;
    margin-top: -6px;
    margin-bottom: 4.3rem;
}
.banner-text {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    background-color: #FBF138;
    width: 25.2rem;
    padding: 2rem 3.5rem;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
}
.banner-text:hover {
    background-color: #2B3541;
    color: #FBF138;
    cursor: pointer;
}
.arrow {
    background-image: url(../images/icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 5.2rem;
    height: 5.5rem;
    border: none;
    background-color: transparent;
    margin-top: 24.5rem;
    cursor: pointer;
}
.text-right {
    margin-left: 9rem;
}
.box {
   display: flex;
   max-width: 79rem;
   width: 100%;
   gap: 2rem;
   position: absolute;
   top: 5rem;
   z-index: -1;
   right: -25.5rem;
   height: 94%;
}
.box-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    flex-basis: 70%;
    height: 100%;
}
.box-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 100%;
    width: 23.5rem;
}
.box-image {
   position: absolute;
   top: 3px;
   right: -10.3rem;

   max-height: 100%;

}
.timetable-flex {
    display: flex;
    height: 100%;
}
.events-headers {
    margin-top: 16rem;
}
.event-data {
    font-size: 1.8rem;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 3.4rem;
    margin-left: 2.7rem;
}
.box-event {
    display: grid;
    gap: 20px;
    grid-template-rows: 60rem 1fr;
    grid-template-areas: "a b c";
}
.event-title {
    font-size: 2.8rem;
    line-height: 125%;
    font-weight: 700;
    max-width: 26rem;
    margin-top: 1rem;
    margin-left: 3.7rem;
    margin-bottom: 5.7rem; 
}
.button-participate {
    position: absolute;
    right:    0;
    bottom:   0;
    background-color:rgba(251, 241, 56, 1);
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 0;
}
.btn-event {
    display: none;
    position: absolute;
    background-image: url(../images/icons/plus.svg);
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
}

.box-event-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
    left: 0;
    top: 0;
    box-sizing: border-box;
    
}
.box-event-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.box-event-gradient:hover .participate {
    opacity: 1;
    text-decoration: none;
}
.box-event-gradient:hover .button-participate {
    display: none;
}
.participate {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    padding: 2rem 3.7rem;
    margin-left: 3.7rem;
    opacity: 0;
}
.participate:hover {
    color: #FBF138;
    background-color: #2B3541;
}
.event-maraphon {
    background-image: url(../images/files/@1x/maraphon.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: a;
    transition: 0.2s;
    position: relative;
}
.event-vebinar-1 {
    background-image: url(../images/files/@1x/Vebinar\ 1.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: b;
    transition: 0.2s;
    position: relative;
}
.event-vebinar-2 {
    background-image: url(../images/files/@2x/Vebinar\ 2@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: c;
    transition: 0.2s;
    position: relative;
}
.events-headers h3 {
    font-size: 4rem;
}
.timetable {
    display: flex;
    justify-content: space-between;
    margin-top: 11.5rem;
}
.timetable-title {
    font-size: 4rem;
    font-weight: 700;
    max-width: 50%;
    line-height: 125%;
}
.timetable-data {
    font-size: 2.8rem;
    line-height: 125%;
    max-width: 18.5rem;
    margin-top: 4.5rem;
}
.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 31px 63px 279px;
    gap: 2.7rem;
}
.grid-timetable {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-timetable:nth-child(1) img {
    width: 6.5rem;
    height: 6.5rem;
}
.grid-timetable:nth-child(2) img {
    width: 4.2rem;
    height: 8.5rem;
}
.grid-timetable:nth-child(3) img {
    width: 9.1rem;
    height: 5rem;
}
.grid-timetable:nth-child(4) img {
    width: 6.7rem;
    height: 10.7rem;
}
.grid-timetable:nth-child(5) img {
    width: 6.5rem;
    height: 6.1rem;
}
.grid-timetable:nth-child(6) img {
    width: 5.8rem;
    height: 6.6rem;
}
.img-grid {
    margin-left: 2rem;
}
.grid-timetable:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }
 .grid-timetable:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
 .grid-timetable:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
 }
 .grid-timetable:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
 }
 .grid-timetable:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
 }
 .grid-timetable:nth-child(6) {
    grid-column: 3 / 4;
   grid-row: 3 / 5;
}
.grid-timetable-data {
    color: #2B3541;
    opacity: 0.7;
    padding-top: 1rem;
    display: inline-block;
    margin-left: auto;
    padding-right: 3rem;

 }
 .grid-timetable-title {
    font-size: 1.8rem;
    line-height: 125%;
    font-weight: 700;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
 }
 .grid-timetable-description {
     display: none;
     max-width: 30rem;
     margin-left: 2rem;
     line-height: 150%;
     color: #2B3541;
 }
 .grid-timetable:nth-child(4):hover {
    border: 1px solid rgba(43, 53, 65, 0.2);
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    transition: 0.3s;
 }

 .grid-timetable:hover {
    border: 1px solid rgba(43, 53, 65, 0.2);
    background: rgba(243, 243, 243, .5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    transition: 0.3s;
 }
 .grid-timetable:hover 
 .grid-timetable-description {
     display: block;
 }
 .grid-timetable:hover
 .grid-timetable-title {
     margin-top: 1rem;
     transition: 0.3s;
 }
 .grid-timetable:hover
 .img-grid {
     margin-bottom: 1rem;
     transition: 0.3s;
 }
 .workout-schedule {
     margin: 0;
 }
 .subscription {
     background-color: #F3F3F3;
     margin-top: 16.2rem;
     margin-bottom: 0px;
 }
 .subscription-blok {
    max-width: 60rem;
    margin: auto;
    padding: 8rem 0 0.2rem;
    position: relative;
    z-index: 1;
}
 .subscription-title {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: -3.8rem;
 }
 .subscription-title::before {
    position: absolute;
    content: " ";
    top: -18px;
    right: 57.6rem;
    height: 5.3rem;
    width: 5.3rem;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    border-radius: 100%;
    z-index: -1;
 }
 .send {
    display: flex;
    gap: 20px;
    justify-content: space-between;
 }
 .email {
    display: block;
    width: 100%;
    padding: 10px 19px;
    font-size: 18px;
    height: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
 }
 .email:focus {
    outline: 1px solid #FBF138;
    background: #FFFFFF;
}
.email:invalid {
    outline: 1px solid #AE0303;
}
 .send-input {
    width: 100%;
    margin-right: 7px;
    height: 65px;
 }
 .form-send-subscription input[type="email"] {
     padding-left: 1.5rem;
     font-size: 1.8rem;
}
 .form-send-subscription {
    position: relative;
    max-width: 646px;
    padding-top: 81px;
    padding-bottom: 114px;
    margin: 0 auto;
}

 .send-subscription-btn {
     background-color: #FBF138;
     box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
     border: none;
     padding: 2.1rem 4.3rem;
     font-size: 1.6rem;
     font-weight: 700;
     text-transform: uppercase;
     line-height: 150%;
     cursor: pointer;
 }
 .send-subscription-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
 }

 .checkbox-text {
    color: #8F949A;
    font-size: 1.1rem;
    font-weight: 400;
 }
.checkbox-text a {
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 400;
    color: #8F949A;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.agreement-checkbox:checked,
.agreement-checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.agreement-checkbox:checked + label,
.agreement-checkbox:not(:checked) + label{
   position: relative;
   padding-left: 2.5rem;
   cursor:pointer;
}
.agreement-checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0px;
    top:calc(50% - 10px);
    background-image: url("../images/icons/check_box.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .agreement-checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0px;
    top:calc(50% - 10px);
    background-image: url("../images/icons/check\ box\ empty.svg");
    background-repeat: no-repeat;
    background-size: cover;
  
 }

 .radio:checked + label::before{
    border-radius: 100%;
 }

 /*-------about-company-------*/

 .company-flex {
    position: relative;
}
 .about-company {
    margin-top: 15.5rem;
}
.company-text {
    max-width: 40rem;
}
.container-content {
    position: relative;
    margin-bottom: 11rem;
}
.container-content img {
    position: absolute;
    width: 58rem;
    height: 33.4rem;
    top: 0px;
    right: 0px;
}


.about-company-img-gradient {
    display: block; 
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/files/@2x/trainer@2x.png);
    width: 51%;
    height: 33.4rem;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;

}
.about-company-title {
    font-size: 4rem;
    font-weight: 700;
}
.about-company-text {
    font-size: 1.8rem;
    line-height: 150%;
    width: 44rem;
   padding-bottom: 4rem;
}
.about-company-btn {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 2.3rem 5.2rem;
    background-color: #FBF138;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #2B3541;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.about-company-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.about-company-item {
    display: flex;
    gap: 6%;
    margin-top: 12rem;
    padding-left: 0;
    flex-wrap: nowrap;
}
.company-benefits-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 125%;

}
.company-benefits-description {
    font-size: 1.8rem;
    max-width: 25rem;
    opacity: 0.6;
    line-height: 150%;
}

/*----FOOTER----*/

.footer-logo-img {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 9.7rem;
    height: 3rem;
} 
.footer-item {
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.footer-cover {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.footer-body {
    position: relative;
    background: #F3F3F3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 0;
}
.footer nav {
    margin-bottom: 1.7rem;
}
.footer-ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}
.footer-ul a:hover {
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid ;
}
.footer-social {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 1.6rem;
}
.footer-social-in {
    display: block;
    background-image: url(../images/icons/IN.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.footer-social-in:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-social-fb {
    display: block;
    background-image: url(../images/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    transition: 0.3s;
    opacity: 0.8;
}
.footer-social-fb:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-ul a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
}
.footer-rights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    color: #B7BABE;
}
.footer-linc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    color: #B7BABE;
}
.footer-site {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    position: relative;
    z-index: 1;
    margin-top: 1.1rem;
    text-decoration: none;
    color: #2B3541;   
}
.footer-site::before {
    position: absolute;
    content: " ";
    top: -11px;
    right: 13.2rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    border-radius: 100%;
    z-index: -1;
}
.footer-contacts {
    display: flex;
    align-items: center;
    gap: 6rem;
}


/*----MODAL----*/


.event_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all .8s ease 0s;
}
.event_modal:target {
    opacity: 1;
    visibility: visible;
  }
  .event_modal:target .modal_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }
  .modal_windows {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .5s ease 0s;
  }
  .modal_content {
    width: 60rem;
    background: #F3F3F3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    padding: 6rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .modal-close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .modal-title {
    width: 100%;
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0 auto;
    margin-bottom: 4rem;

    
}
.modal-title::before {
    top: 3.5rem;
    left: 19.5rem;
    position: absolute;
    content: '';
    background-color: #fbf138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    padding: 2rem;
    border-radius: 3rem;
    z-index: -1;
}
.modal-description {
    font-size: 1.8rem;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.modal-form > input {
    display: block;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: 23px 0 23px 17px;
    width: 90%;
    font-size: 1.8rem;
}
.modal-form  input[type="email"] {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.send-button {
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-weight: 700;
    padding: 3.3rem 10rem;
    text-decoration: none;
    margin-top: 2rem;
    border: none;
    
}
.send-button:hover {
    background-color: #2B3541;
    color: #FBF138;
    cursor: pointer;
}


/*---BURGER---*/

.header-burger {
    width: 4.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-image: url(../images/icons/burger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: block;
    margin-left: 3.6rem;
}
#modal {
    background-color: #F3F3F3;
    text-align: center;
    max-width: 100%;
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    margin: 7.1rem auto 0;
    transition: 0.6s;
    padding: 20px 15px;
    box-sizing: border-box;
}
.header-ul-burger  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    text-align: left;
    margin: 3rem 0;
    padding: 0;
    column-rule: 1px;
    list-style-type: none;
}
.header-ul-burger a:hover{
    padding-bottom: .8rem;
    border-bottom: #2B3541 1px solid;
}
.header-ul-burger a {
    font-size: 1.8rem;
    color: #2B3541;   
    text-decoration: none;
}

#modal .social {
    justify-content: flex-end;
}
#modal .header-ul-burger  li:nth-child(2) {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #CBCDCF;
    border-bottom: 1px solid #CBCDCF;
}
#modal .header-ul-burger  a:hover{
    padding-bottom: 8px;
    border-bottom: #2B3541;
}
#modal .logo-header {
    margin-top: 0px;
}
.burger-close  {
    background-image: url(../images/icons/close-burger.svg);
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    width: 2rem;
    height: 1.9rem;
    top: 3rem;
    right: .8rem;
}
.workout-box {
    display: flex;
    position: relative;
    width: 82%;
}

/*---------MEDIA-------*/


@media (min-width: 769px) {
    .header-burger {
        display: none;
    }
}
@media (min-width: 551px) {
    .about-company-btn-mobile { 
        display: none;
    }
}
@media (max-width: 1500px) {
    .workout-box {
        width: 75%;
    }
    .title {
        font-size: 4.7rem;
    }
    .box {
        right: -21.5rem;
    }
}
@media (max-width: 1250px) {
    .timetable-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 333px;
    }
    .grid-timetable:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .grid-timetable:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid-timetable:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .grid-timetable:nth-child(4){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .grid-timetable:nth-child(5){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .grid-timetable:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .box {
        right: -12rem;
    }
    .title {
        font-size: 3.7rem;
        max-width: 50rem;
    }
    .arrow {
        margin-top: 5.5rem;
    }

}
@media (max-width: 1000px) {
    .text-right {
        margin-left: 4rem;
    }
    .events-headers {
        margin-top: 9rem;
    }
    .text {
        max-width: 40rem;
    }
    .title {
        font-size: 2.7rem;
    }
    .box-event {
        grid-template-rows: 50rem 1fr;
    }
    .timetable {
        margin-top: 0rem;
    }
    .text {
        margin-top: 7rem;
    }
    .box {
        right: 0rem;
        max-width: 50%;
    }
    .box-image {
        max-width: 143%;
    }
}
@media (max-width: 950px) {

    .text {
        margin-top: 10.4rem;
    }
    .header-ul a {
        font-size: 1.5rem;
    }
    .event-title {
        font-size: 2.1rem;
        max-width: 20rem;
    }
    .subscription {
        margin-top: 11rem;
    }
    .about-company-img-gradient {
        width: 50%
    }
    .about-company {
        margin-top: 11.5rem;
    }
   .participate {
       padding: 2rem 1.7rem;
   }
   .header-ul {
       gap: 3.5rem;
   }
   .banner-text {
       padding: 2rem 3.5rem;
       font-size: 1.4rem;
   }
   .subtitle {
       font-size: 3rem;
   }
   .box {
        right: -6rem;
    }
    .box-image {
        right: -12.3rem;
        max-width: 179%;
    }
    .about-company-text {
        width: 40rem;
    }
    .footer-cover {
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .footer-contacts {
        gap: 3.3rem;
        align-self: flex-end;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 76.7rem;
    }
    .header-logo-img {
        width: 7.8rem;
        height: 2.4rem;
    }
    .header-burger {
        margin-left: 5.5rem
    }
    .form-send-subscription {
        padding-bottom: 42px;
    }
    .about-company {
        margin-top: 7.5rem;
    }
    .about-company-title {
        font-size: 2.5rem;
    }
    .about-company-text {
        font-size: 1.5rem;
        padding-bottom: 4rem;
        max-width: 26rem;
    }
    .about-company-img-gradient {
        background-size: cover;
        max-width: 35rem;
        max-height: 23rem;
    }
    .about-company-item {
        flex-wrap: wrap;
        margin-top: 0rem;
        justify-content: normal;
        gap: 17%;
        margin-top: 4rem;   
    }
    .text {
        margin-top: 4.4rem;
    }
    .title {
        font-size: 2.5rem;
        max-width: 40rem;
    }
    .subtitle {
        font-size: 2.5rem;
        line-height: 50%;
    }
    .desc {
        margin-top: 2.3rem;
        margin-bottom: 7.3rem;
    } 
    .text-right {
        margin-left: 0;
    }
    .header-ul {
        display: none;
    }
    .banner-workout {
        margin-bottom: 0;
        max-height: 53rem;
    }
    .arrow {
        margin-top: 6.1rem;
        width: 4rem;
        height: 4.3rem;
    }
    .events-headers h3 {
        font-size: 2.5rem;
    }
    .box {
        height: 87%;
    }
    .box-image {
        max-width: 140%;
        top: 7rem;
    }
    .box-event {
        display: grid;
        grid-template-rows: 30.9rem 33.6rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c c";
        gap: 10px;
        height: auto;
        margin: 0 auto;
    }
    .event-vebinar-2 {
        background-image: url(../images/files/@1x/yoga.jpg);
    }
    .container-content {
        margin-bottom: 6rem;
    }
    .event-data {
        font-size: 1.3rem;
        margin-top: 1.4rem;
        margin-left: 2.7rem;
    }
    .event-title {
    font-size: 1.6rem;
    max-width: 18rem;
    }
    .company-benefits-title {
        font-size: 1.7rem;
    }
    .participate {
        display: none;
    }
    .btn-event {
        display: block;
    }
    .button-participate {
        display: block;
        padding: 6px 15px;
        left: 0;
        right: auto;
        font-size: 12px;
    }
    .timetable {
        margin-top: 4.5rem;
    }
    .timetable-title {
        font-size: 2.7rem;
    }
    .timetable-data {
        font-size: 1.8rem;
        margin-top: 3.5rem;
    }
    .timetable-grid {
        margin-top: 2rem;
    }
    .subscription {
        margin-top: 12.2rem;
    }
    .subscription-title {
        font-size: 2.6rem;
        line-height: 84%;
    }
    .subscription-blok {
        max-width: 23rem;
        padding-bottom: 7rem;
    }
    .subscription-title::before {
        top: -29px;
        right: 20.6rem;
    }
    .subscription-blok {
        padding: 6rem 0 8.2rem;
    }
    .send {
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;    
    }
    .form-send-subscription {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .send-subscription-btn {
        margin-top: 5rem;
    }
    .footer {
        margin-top: 2.5rem; 
    }
    .footer-ul {
        gap: 1.5rem;
    }
    .footer-ul a {
        font-size: 1.5rem;
    }
    .site {
        font-size: 1.2rem;
    }
    .footer-site {
        font-size: 1.2rem;
    }
    .footer-site::before {
        right: 10.2rem;
    }
    .site::before {
        right: 10rem;
    }
    .modal-title::before {
        left: 12.5rem;
        padding: 1.5rem;
        top: 3.7rem;
    }
    .footer-social {
        gap: 1.2rem;
    }
    .modal_content {
        width: 35em;
    }
    .modal-title {
        font-size: 1.8rem;
    }
}
@media (max-width: 750px) { 
    .arrow {
        display: none;
    }
    .workout-box {
        flex-direction: column;
    }
    .box {
        position: relative;
        height: 30rem;
        right: -7rem;
        flex-direction: row;
        max-width: 80%;
    }
    .box-image {
        right: 0rem;
        top: 0%;
    }
    .events-headers {
        margin-top: 34rem;
    }
    .banner-text {
        display: block;
        text-align: center;
    }
    .banner-text {
        padding: 2rem 2.5rem;
    }
    .workout-box {
        width: 100%;
    }
    .title {
        font-size: 3.7rem;
        max-width: 65rem;
    }
    .text {
        max-width: 65rem;
    }
    .desc {
        font-size: 2.2rem;
        max-width: 41rem;
    }

}


@media (max-width: 550px) {
    .title {
        font-size: 2.2rem;
    }
    .timetable-grid {
        display: flex;
        flex-direction: column;
    }
    .company-mobile {
        display: block;
    }
    .about-company-img-gradient {
        display: none;
    }
    .about-company-btn {
        display: none;
    }
    .about-company-btn-mobile {
        padding: 20px;
        border: none;
        cursor: pointer;
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
        background-color: #FBF138;
        text-decoration: none;
        font-weight: 700;
    }
    .company-mobile-img {
            background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/files/@2x/trainer@2x.png);
            width: 100%;
            height: 55vw;
            background-position: center;
            background-size: cover;
            margin-top: 20px;
        }
        .events-headers {
            margin-top: 30rem;
        }
        .footer {
            justify-content: center;
        }
        .footer-ul {
            padding: 0;
        }
        .site::before {
            right: 10rem;
        }

        .footer-rights {
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer-item {
            gap: 2rem;
        }
        .footer-cover {
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer-item {
            flex-direction: column;
            align-items: center;
            gap: 41px;
        }
        .footer-contacts {
            align-self: initial;
            justify-content: space-between;
            width: 100%;
        }
        .footer-ul a {
            font-size: 1.2rem;
        }
        .event-title {
            margin-left: 1.5rem;
        }
        .modal_content {
            width: 20em;
        }
        .send-button {
            padding: 2rem 4.5rem;
        }
        .modal-title::before {
            left: 6.7rem;
            padding: 1.2rem;
            top: 4.4rem;
        }
        .modal-title {
            font-size: 1.5rem;
        }
        .modal-description {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        .modal-form > input {
            padding: 10px 0 5px 5px;
            font-size: 1.2rem;
        }
        .modal-form input[type="email"] {
            font-size: 1.2em;
        }
}
@media (max-width: 360px) {
    .title {
        font-size: 2.2rem;
    }
    .desc {
        font-size: 1.5rem;
    }
    .text {
        margin-top: 4.4rem;
    }
    .desc {
        margin-bottom: 3.3rem;
    }
    .box {
        right: 0rem;
        max-width: 100%;
    }
    .events-headers {
        margin-top: 17rem;
    }
    .event-title {
        font-size: 1.3rem;
        max-width: 10rem;
    }
    .box-event {
        grid-template-rows: 25rem 33rem;
    }
    .timetable-title {
        font-size: 2.3rem;
    }
    .grid-timetable-title {
        font-size: 1.5rem;
    }
    .modal_content {
        width: 15em;
    }
    .send-button {
        padding: 1rem 2.5rem;
        font-size: 1.3rem;
    }
    .modal-title::before {
        left: 6.3rem;
    }
    .modal-title {
        font-size: 1.1rem;

    }
    .modal-description {
        font-size: 1.1rem;
     
    }
    .modal-form > input {
        padding: 10px 0 5px 5px;
    }
   
}
@media (max-width: 340px) {
    .banner-text {
        padding: 2rem 0.5rem;
    }
    .events-headers {
        margin-top: 17rem;
    }
    .events-headers h3 {
        font-size: 2rem;
    }
    .subscription {
        margin-top: 8rem;
    }
    .footer-ul a {
        font-size: 1.1rem;
    }
    .about-company {
        margin-top: 5.5rem;
    }
    .about-company-text {
        padding-bottom: 2rem;
    }
    .event-title {
        font-size: 1.2rem;
        margin-left: 1.7rem;
    }
    .timetable-title {
        font-size: 2rem;
    }
    .timetable-data {
        font-size: 1.5rem;
    }
    .box {
        height: 23rem;
      
    }
}

