body {
    font-family: 'Montserrat', sans-serif;
}
.container {
   max-width: 1140px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
   position: relative;
}

.header-logo-img {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    display: block;
    width: 97px;
    height: 56px;
} 
.header {
    display: flex;
    align-items: center;
}
.header-logo {
    flex-basis: 20%;
}
.header nav {
    flex-basis: 125%;
    margin-bottom: 17px;
}
.header-ul {
    display: flex;
    list-style-type: none;
    gap: 55px;
}
.header-ul a:hover{
    padding-bottom: 8px;
    border-bottom: #2B3541 1px solid;
}
.social {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
}
.header-ul a {
    font-size: 18px;
    color: #2B3541;   
    text-decoration: none;
}
.text { 
   max-width: 676px;
   max-height: ;
   margin-top: 214px;
}
.banner-workout {
    display: flex;
    position: relative;
    max-height: 852px;
}
.title {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 53px;
    letter-spacing: 1px;
}
.subtitle {
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    margin-top: -11px;
    letter-spacing: 1px;
}
.desc {
    font-size: 18px;
    font-weight: 400;
    max-width: 297px;
    margin-top: -6px;
    margin-bottom: 43px;
}
.banner-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    background-color: #FBF138;
    width: 223px;
    padding: 20px 12px;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
}
.arrow {
    background-image: url(../images/icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 55px;
    border: none;
    background-color: transparent;
    margin-top: 175px;
    cursor: pointer;
}
.text-right {
    margin-left: 90px;
}
.box {
   display: flex;
   max-width: 790px;
   width: 100%;
   gap: 20px;
   position: absolute;
   top: 20px;
   z-index: -1;
   right: -75px;
   height: 813px;
}
.box-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    flex-basis: 70%;
    height: 100%;
}
.box-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 100%;
    width: 235px;
}
.box-image {
   position: absolute;
   top: 3px;
   right: -103px;
   width: 996px;
   height: 100%
}
.timetable-flex {
    display: flex;
    height: 100%;
}
.events-headers {
    margin-top: 160px;
}
.event-data {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 34px;
    margin-left: 27px;
}
.box-event {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.event-title {
    font-size: 28px;
    line-height: 125%;
    font-weight: 700;
    max-width: 260px;
    margin-top: 10px;
    margin-left: 37px;
    margin-bottom: 57px; 
}
.participate {
    opacity: 0;
}
.button-participate {
    position: absolute;
    right:    0;
    bottom:   0;
    background-color: #FBF138;
    border: none;
    padding: 10px 20px;
    margin-bottom: 0;
}
.box-event-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
}
.box-event-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.box-event-gradient:hover .participate {
    opacity: 1;
    text-decoration: none;
}
.participate {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FBF138;
    background-color: #2B3541;
    padding: 20px 37px;
    margin-left: 37px;
}
.event-maraphon {
    background-image: url(../images/files/@1x/maraphon.png);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.event-vebinar-1 {
    background-image: url(../images/files/@1x/Vebinar\ 1.png);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.event-vebinar-2 {
    background-image: url(../images/files/@1x/Vebinar\ 2.png);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.events-headers h3 {
    font-size: 40px;
}
.timetable {
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
}
.timetable-title {
    font-size: 40px;
    font-weight: 700;
    max-width: 100px;
    line-height: 125%;
}
.timetable-data {
    font-size: 28px;
    line-height: 125%;
    max-width: 185px;
    margin-top: 45px;
}
.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 31px 63px 279px;
    gap: 27px;
}
.grid-timetable {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-timetable:nth-child(1) img {
    width: 65px;
    height: 65px;
}
.grid-timetable:nth-child(2) img {
    width: 42px;
    height: 85px;
}
.grid-timetable:nth-child(3) img {
    width: 91px;
    height: 50px;
}
.grid-timetable:nth-child(4) img {
    width: 67px;
    height: 107px;
}
.grid-timetable:nth-child(5) img {
    width: 65px;
    height: 61px;
}
.grid-timetable:nth-child(6) img {
    width: 58px;
    height: 66px;
}
.img-grid {
    margin-left: 20px;
}
.grid-timetable:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }
 .grid-timetable:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
 .grid-timetable:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
 }
 .grid-timetable:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
 }
 .grid-timetable:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
 }
 .grid-timetable:nth-child(6) {
    grid-column: 3 / 4;
   grid-row: 3 / 5;
}
.grid-timetable-data {
    color: #2B3541;
    opacity: 0.7;
    padding-top: 10px;
    margin-left: 196px;
 }
 .grid-timetable-title {
    font-size: 18px;
    line-height: 125%;
    font-weight: 700;
    margin-left: 18px;
    margin-bottom: 10px;
 }
 .grid-timetable-description {
     display: none;
     max-width: 300px;
     opacity: 0.7;
     margin-left: 20px;
     line-height: 150%;
 }
 .grid-timetable:hover {
    border: none;
 }
 .grid-timetable:hover 
 .grid-timetable-description {
     display: block;
 }
 .grid-timetable:hover
 .grid-timetable-title {
     margin-top: 10px;
 }
 .grid-timetable:hover
 .img-grid {
     margin-bottom: 10px;
 }
 .workout-schedule {
     margin: 0;
 }
 .subscription {
     background-color: #F3F3F3;
     margin-top: 162px;
     margin-bottom: 0px;
 }
 .subscription-blok {
    max-width: 600px;
    margin: auto;
    padding: 80px 0 82px;
    position: relative;
    z-index: 1;
}
 .subscription-title {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: -38px;
 }
 .subscription-title::before {
    position: absolute;
    content: " ";
    top: -18px;
    right: 576px;
    height: 53px;
    width: 53px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    border-radius: 100%;
    z-index: -1;
 }
 .email {
     border: none;
     height: 65px;
     width: 372px;
 }
 .form-send-subscription input[type="email"] {
     padding-left: 15px;
     opacity: 0.3;
}
 .send {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    border: none;
}

 .send-subscription-btn {
     background-color: #FBF138;
     box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
     border: none;
     padding: 21px 43px;
     font-size: 16px;
     font-weight: 700;
     text-transform: uppercase;
     line-height: 150%;
 }
 .agreement {
    font-size: 11px;
    color: #2B3541;
    margin-left: 257px;
    padding-bottom: 85px;
 }
 .checkbox-text {
    color: #8F949A;
    font-size: 11px;
    font-weight: 400;
 }
.checkbox-text a {
    font-size: 11px;
    line-height: 150%;
    font-weight: 400;
    color: #8F949A;
    text-decoration-line: underline;
}
.agreement-checkbox:checked,
.agreement-checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.agreement-checkbox:checked + label,
.agreement-checkbox:not(:checked) + label{
   position: relative;
   padding-left: 25px;
   cursor:pointer;
}
.agreement-checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top:calc(50% - 10px);
    background-image: url("../images/icons/check_box.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .agreement-checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top:calc(50% - 10px);
    background-image: url("../images/icons/check\ box\ empty.svg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .radio:checked + label::before{
    border-radius: 100%;
 }