body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.container {
   max-width: 1143px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
   position: relative;
}
.header-logo img {
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 56px;
} 
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.social {
  display: flex;
  gap: 10px;
}
.header-nav a {
    font-size: 18px;
    color: #2B3541;   
    text-decoration: none;
}
.header-nav li {
    list-style-type: none;
}
.text { 
   padding-top: 335px;
   max-width: 676px;
}
button {
   margin-top: 100px;
}
.title {
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    font-weight: 700;
}
.subtitle {
    font-size: 40px;
    font-weight: 400;
}
.desc {
    font-size: 18px;
    font-weight: 400;
    max-width: 297px;
}
.banner-text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: #2B3541;
    background-color: #FBF138;
    width: 252px;
    padding: 20px 30px;
    border: 1px solid #FBF138;
    transition: 0.2s;
}
.arrow {
    background-image: url(../images/icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 55px;
    border: none;
    background-color: transparent;
}
.text-right {
    margin-left: 90px;
}
.box {
   display: flex;
   max-width: 790px;
   width: 100%;
   gap: 20px;
   position: absolute;
   top: 20px;
   z-index: -1;
   right: -75px;
}
.box-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    flex-basis: 70%;
    height: 850px;
    width: 535px;
}
.box-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 850px;
    width: 235px;
}
.box-image {
   position: absolute;
   top: 0;
   right: -75px;
   width: 996px;
   height: 100%
}